# Ignore node_modules and build directories
node_modules
.next
out
build

# Ignore local environment files
.env
.env.test

# Ignore logs and debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore other unnecessary files
.DS_Store
*.pem
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/